<!DOCTYPE html>
<html lang="en">

<%- include('../Partials/head.ejs') %>

    <body>
        <%- include('../Partials/nav.ejs') %>
            <div class="create-blog content">
                <form action="/blogs" method="post">
                    <label for="title">Blog Title:</label>
                    <input type="text" id="title" name="title" required>
                    <label for="snippets">Blog Snippets:</label>
                    <input type="text" id="snippete" name="snippet" required>
                    <label for="body">Blog Body:</label>
                    <textarea name="body" id="body"></textarea>
                    <button>Submit</button>
                </form>
            </div>
            <%- include('../Partials/footer.ejs') %>
    </body>

</html>