<!DOCTYPE html>
<html lang="en">
<%- include('./Partials/head.ejs') %>

    <body>
        <%- include('./Partials/nav.ejs') %>
            <div class="blogs content">
                <h2>About Us</h2>
                <p>
                    Les surveys de tirant d’eau (ou “draft surveys”) sont essentiels pour
                    déterminer la quantité de cargaison chargée sur un navire. Voici un
                    aperçu des principaux aspects et des problèmes potentiels qui peuvent
                    survenir lors des inspections des navires :
                </p>
                <h1>Qu’est-ce qu’un survey de tirant d’eau ?</h1>
                <p>
                    Un survey de tirant d’eau mesure la distance entre la ligne de
                    flottaison et la quille du navire. Cela permet de calculer le poids du
                    navire dans différentes conditions de chargement ou déchargement
                </p>
                <h1>Problèmes courants lors des inspections</h1>
                <p>
                    Facteurs environnementaux : Les conditions météorologiques, les marées
                    et les variations de densité de l’eau peuvent affecter les mesures de
                    tirant d’eau, nécessitant des ajustements2. Déformation du navire : Le
                    poids de la cargaison peut provoquer une légère déformation de la
                    structure du navire, impactant les relevés de tirant d’eau2. Erreurs de
                    lecture : Les erreurs de lecture des marques de tirant d’eau peuvent se
                    produire, surtout si elles ne sont pas lues au niveau de la ligne de
                    flottaison3. Hogging et sagging : Le “hogging” se produit lorsque
                    l’avant et l’arrière du navire sont plus lourds que le milieu, tandis
                    que le “sagging” se produit lorsque le milieu est plus lourd3.
                    Importance des surveys de tirant d’eau Ces surveys sont cruciaux pour :
                    Optimiser le chargement : Maximiser la cargaison transportée tout en
                    minimisant le temps et les coûts1. Assurer la stabilité : Garantir que
                    le navire est stable avant d’accoster dans un port pour éviter les
                    collisions ou les chavirements1. .
                </p>
            </div>
            <%- include('./Partials/footer.ejs') %>
    </body>

</html>